$white: hsl(0, 0%, 100%);
$soft-red: hsl(10, 79%, 65%);
$soft-red-light: hsla(10, 100%, 76%, 1);
$cyan: hsl(186, 34%, 60%);
$cyan-light: hsla(186, 49%, 80%, 1);
$dark-brown: hsl(25, 47%, 15%);
$medium-brown: hsl(28, 10%, 53%);
$cream: hsl(27, 66%, 92%);
$very-pale-orange: hsl(33, 100%, 98%);

$font-dm-sans: 'DM Sans', sans-serif;;
$fw-400: 400;
$fw-700: 700;
$fs-8s: 8.89px;
$fs-10: 10px;
$fs-11s: 11.04px;

$mobile: 400px;
$mobile-wide: 430px;
$desktop: 1280px;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-size: $fs-10;
    font-family: $font-dm-sans;
}

.page {
    background: $cream;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}

.cards {
    height: 66rem;
    width: 54rem;
}

.balance {
    height: 12.5rem;
    background: $soft-red;
    padding: 2.7rem 3.9rem 2.5rem 3.2rem;
    border-radius: 2rem;
    margin-bottom: 2.4rem;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__header {
        color: $white;
        font-size: 1.8rem;
        line-height: 2.3rem;
        font-weight: $fw-400;
        margin-bottom: .8rem;
    }

    &__amount {
        color: $very-pale-orange;
        font-size: 3.2rem;
        font-weight: $fw-700;
        line-height: 4.2rem;
    }

    &__logo {
        width: 7.2rem;
        height: 4.8rem;
    }
}

.spending {
    height: 51.1rem;
    padding: 3.2rem 4rem 4rem;
    background: $very-pale-orange;
    border-radius: 2rem;

    &__header {
        color: $dark-brown;
        font-weight: $fw-700;
        font-size: 3.2rem;
        line-height: 4.2rem;
        margin-bottom: 6.6rem;
    }

    &__chart {
        height: 17.8rem;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        column-gap: 1.791rem;
    }

    &__day {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        
        cursor: pointer;

        .day {
            color: $medium-brown;
            font-size: 1.5rem;
            font-weight: $fw-400;
            line-height: 2rem;
        }

        .bar {
            background: $soft-red;
            border-radius: .5rem;
            width: 100%;
            position: relative;
            display: flex;
            justify-content: center;

            .amount {
                position: absolute;
                background: $dark-brown;
                height: 4rem;
                width: 7.1rem;
                border-radius: .5rem;
                display: none;
                justify-content: center;
                align-items: center;
                font-size: 1.8rem;
                font-weight: $fw-700;
                line-height: 2.3rem;
                color: $very-pale-orange;
                top: -4.8rem;
            }

            &:hover {
                background: $soft-red-light;

                .amount {
                    display: flex;
                }
            }

            &--active {
                background: $cyan;

                &:hover {
                    background: $cyan-light;
                }
            }

            &--mon {
                height: 5rem;
            }

            &--tue {
                height: 10rem;
            }

            &--wed {
                height: 15rem;
            }

            &--thu {
                height: 8.9rem;
            }

            &--fri {
                height: 6.7rem;
            }

            &--sat {
                height: 12.4rem;
            }

            &--sun {
                height: 7.3rem;
            }
        }

        
    }
}

@media screen and (max-width: $desktop) {
    body, html {
        font-size: $fs-8s;
    }
}

@media screen and (max-width: $mobile-wide) {
    body, html {
        font-size: $fs-11s;
    }
}

@media screen and (max-width: $mobile) {
    body, html {
        font-size: $fs-10;
    }
}
